{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    <div class="content">
        {{ if .Site.Params.showAuthorOnPosts }}
            {{ partial "author.html" . }}
        {{ end }}
      {{ .Content }}
      <hr />
      <p class="blog-attribution">The post <a href="{{ .RelPermalink }}">{{ .Title }}</a> appeared first on <a href="{{ .Site.BaseURL }}">The Streamlighter</a></p>
    </div>
  </div>
{{ end }}
