.author {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--heading-color);
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        border: 2px solid var(--heading-color);
    }
    .author-name {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        margin-left: 5px;
    }
}
.author-large {
    font-size: 20px;
    img {
        width: 50px;
        height: 50px;
    }
    .author-name {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        margin-left: 5px;
    }
    .author-title {
        display: inline-block;
        vertical-align: middle;
    }
}

.meta-item {
    display: inline-block;
}
.meta-item * {
    color: var(--bs-gray-600);
}

.meta-item:not(:last-of-type):after {
    content: "·";
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
}

.meta-item svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.15em;
}

.meta-item a {
    transition: var(--link-transition);
}
.meta-item a:hover {
    color: var(--highlight-color);
}
.meta-item .post-tags a:not(:last-of-type) {
    margin-inline-end: 0.3em;
}
.meta-item .post-tags a:not(:last-of-type):after {
    content: ",";
}
.meta-item .post-tags a:before {
    content: "#";
}
